@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  background: $gray;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif, "Times New Roman", Times, serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.text-center {
  text-align: center;
}

.card {
  background-color: $white;
  border: 1px solid #dddddd;
  margin: 2em 0;
  padding: 2em;
}
